@import url('./home.css');
@import url('./about.css');
@import url('./vans.css');
@import url('./host.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h2{
  font-weight: 800;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
}

.app {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
  background-color: #FFF7ED;
}

header{
  background-color: #FFF7ED;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:20px;
  color: white;
  padding: 0 60px;
}

nav > a {
  text-decoration: none;
  color: black;
  margin-right: 80px;
}

.vanlife{
  font-weight: 800;
  font-size: 2em;
  flex-grow: 1;
}

.hero{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}

button{
  cursor: pointer;
}

footer{
  background-color: #444444;
  color: rgb(148, 148, 148);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.page-not-found > h1{
  font-size: 3em;
  font-weight: 800;
}

.page-not-found > a,
.button-home{
  background-color: #FFA500;
  width: 300px;
  color: white;
  text-align: center;
  /* width: 50%; */
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

.page-not-found > a:hover,
.button-home:hover{
  background-color: #b66400;
}

.message{
  text-align: center;
    font-size: 3em;
    color: black;
    margin-top: 45%
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}
