.host-vans-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  gap: 30px;
  padding: 30px;
  /* border: solid 1px #FFA500; */
}

.back-link{
  color: black;
  font-size: 1.5em;
  margin: 20px;
  text-align: left;
}

.host-van-card-link{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px;
  text-decoration: none;
  color: inherit;
  height: 150px;
}

.host-van-card-image{
  width: 30%;
  border-radius: 5px;
}

.host-van-card-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  /* border: solid 1px #FFA500; */
}

.van-specifics{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* border: solid 1px #FFA500; */
  margin-top: -20px;
}

.host-van-details{
  display: flex;
  align-items: center;
  gap:30px;
  width:50%;
  flex-wrap: wrap;
}

.van-specifics,
.host-van-details{
  background-color: white;
  padding: 20px;
}

.host-van-image{
  width: 30%;
}

.host-van-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.host-van-info-container{
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 20px;
  width: 50%;
  margin-top: -20px;
  min-height: 280px;
}

.host-van-info-container > img{
  width: 20%;
  border-radius: 5px;
}

.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}
