.content-vans{
  width: 60%;
}

.content-vans > h1{
  font-weight: 900;
  padding: 30px;
  font-size: 3em;
}
.vans-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  padding: 30px;
  /* border: solid 1px #FFA500; */
}

.van-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
  height: 500px;
  border-radius: 5px;
  gap:20px;
  overflow: hidden;
  margin: 0 auto;
}

.van-card-image{
  width: 100%;
  border-radius: 5px;
}

.van-card-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  gap: 20px;
  font-weight: 800;
   /* border: solid 1px #FFA500; */
}

.van-card-info > div{
  /* border: solid 1px #FFA500; */
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.badge{
  padding: 20px 5px;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFEAD0;
  width:80px;
}


.background-orange{
  background-color: #E17654;
}

.background-green{
  background-color: #115E59;
}

.background-black{
  background-color: #161616;
}


.van-card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}


.van-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  /* border: solid 1px #FFA500; */
}

.van-image{
  width: 40%;
  border-radius: 5px;
}

.van-details{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 50%;
  /* border: solid 1px #FFA500; */
}

.van-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: solid 1px #FFA500; */
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-list-filter-buttons{
  display: flex;
  gap: 20px;
  padding-left: 30px;
  width:100%;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}
