.App {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  background-color: #FFF7ED;
  color: white;
  padding: 0 60px;
}

nav > a {
  text-decoration: none;
  color: black;
  margin-right: 80px;
}

.vanlife{
  font-weight: 800;
  font-size: 2em;
  flex-grow: 1;
}

.hero{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('../images/9b62f902c3de6d1b54b3a5d23341752c.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2em;
  width: 50%;
}

.content > h1{
  font-weight: 800;
}

.content > button{
  background-color: #FFA500;
  color: white;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 20px;
  font-weight: 800;
}

button{
  cursor: pointer;
}

.content > button:hover{
  background-color: #FF8C00;
}

footer{
  background-color: #444444;
  color: rgb(148, 148, 148);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
