.App {
  text-align: center;
}

nav {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  gap:20px;
  background-color: #FFF7ED;
  color: white;
  padding: 10px;
}

nav > a {
  text-decoration: none;
  color: black;
  margin-right: 80px;
}

.vanlife{
  font-weight: 800;
  font-size: 2em;
  flex-grow: 1;
}

.home{
  background-image: url('https://s3-alpha-sig.figma.com/img/050a/aa4a/9b62f902c3de6d1b54b3a5d23341752c?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mF5sPzChmozsvDz~OeX7NuzMuVN53NVMcQ8WdRiaO3XpXKMReunzjN4dIZ-8tJzp4kyt2z8rJcmForWBNem5J1-yv9q65pNh8cGlh0K12I-XsoWhONubogyQfv6FCrq9EgTa20lBG~wpoxepSffBicytmSVogvvCqXoTOV62vFqWifwYZbRwfN1IGihq35EUoJR-nUMFK9~11QuIU6rDzOp5KK-3rVLON4~GLcFc07DI0k7lVNNa~i9gNJ4uRwuFui1dBnEyaISn9E44AvHXk-Fx4znbut3fG9F5GAx04r4x8dnWDIURqa7MOPxmuQ6qiDNBz-vrWCbqD1u6aGzrDA__');
}

footer{
  background-color: #444444;
  color: rgb(148, 148, 148);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
